<div class="container">
  <div class="row main-row">
    <div class="col-md-6 offset-md-3 m-auto">
      <div class="row">
        <div class="col-md-12">
          <h3 class="p-c text-center">Change Password</h3>
        </div>
      </div>
      <form [formGroup]="changePasswordForm">
        <div class="form-group my-4 mx-auto">
          <input 
              type="text" 
              class="form-control my-4 mx-auto" 
              id="password" 
              formControlName="password" 
              placeholder="Old Password *">
            <app-form-errors [control]="changePasswordForm.controls.password"></app-form-errors>
        </div>
        <div class="form-group my-4 mx-auto">
          <input 
              type="text" 
              class="form-control my-4 mx-auto" 
              id="newPassword" 
              formControlName="newPassword" 
              placeholder="New Password *"
              (keyup)="checkPassword()">
            <app-form-errors [control]="changePasswordForm.controls.newPassword"></app-form-errors>
        </div>
        <div class="form-group my-4 mx-auto">
          <input 
              type="text" 
              class="form-control my-4 mx-auto" 
              id="repeatPassword" 
              formControlName="repeatPassword" 
              placeholder="Repeat Password *"
              (keyup)="checkPassword()">
            <app-form-errors [control]="changePasswordForm.controls.repeatPassword"></app-form-errors>
            <p class="r-c text-center" *ngIf="!isPasswordMatch">Password Doesn't match</p>
        </div>
      </form>
      <p class="r-c text-center">{{msg}}</p>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success button-200" (click)="changePassword()" [disabled]="changePasswordForm.invalid || !isPasswordMatch">Change Password</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default button-200" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>